src/main/mule/testdeploytocloudhub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="213992d1-7721-4eb9-a9fd-b371ae258aa6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testdeploytocloudhubFlow" doc:id="3299874c-7e8a-4544-a971-a42ec7487998" >
		<http:listener doc:name="Listener" doc:id="0d1f4ecb-adad-48b1-9358-70d221ddadac" config-ref="HTTP_Listener_config" path="/tocloud"/>
		<set-payload value="#['deploy to cloud']" doc:name="Set Payload" doc:id="7789329f-f3e8-4d29-8bf4-853153f991ee" />
	</flow>
</mule>
